<!doctype html>
{% load static %}
<html lang="en">

<head>
<title>DSD - Questions to Model</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link rel="icon" href="favicon.ico" type="image/x-icon">
<!-- VENDOR CSS -->
<link rel="stylesheet" href="{% static 'assets2/vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets2/vendor/animate-css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'assets2/vendor/font-awesome/css/font-awesome.min.css' %}">

<!-- MAIN CSS -->
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/color_skins.css' %}">
</head>

<body class="theme-cyan">
	<!-- WRAPPER -->
	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle auth-main">
				<div class="auth-box">
                    <div class="mobile-logo"><a href="#"><img src="#" alt=""></a></div>

                    <div class="auth-left">
                        <div class="left-top">
                            <a href="#">
                                <img src="" alt="">
                                <span>DSD PROJECT</span>
                            </a>
                        </div>
                        <div class="left-slider">
                            <img src="{% static 'assets/images/questions/1.jpg' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="auth-right">
                       
                        <div class="card">
                            <div class="header">
                                <p class="lead">DataScience Project 2018</p>
                            </div><br>
                            <div class="body">
                                <!-- <p>Please select an operation to perform on the dataset and generate the prediction chart</p> -->
                                <form class="form-auth-small" action="dashboard/">

                                    <button type="submit" class="btn btn-primary btn-lg btn-block">CONTINUE</button>
                                </form>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->
</body>
</html>